@model EntreEspeciesNuevo.Models.DetaVentum

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body{
        display:flex;
    }
</style>

<h1>Details</h1>

<div>
    <h4>DetaVentum</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubTotalPro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubTotalPro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubTotalSer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubTotalSer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProductoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProductoNavigation.IdProducto)
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdServicioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdServicioNavigation.IdServicio)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdVentaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdVentaNavigation.IdVenta)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdDetalleV">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
