@model IEnumerable<EntreEspeciesNuevo.Models.Cliente>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var RegistrarClientes = ViewBag.RegistrarClientes;
    var EditarClientes = ViewBag.EditarClientes;
    var BuscarClientes = ViewBag.BuscarClientes;
    var VerClientes = ViewBag.VerClientes;
}

@if (VerClientes)
{
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-switch@3.3.4/dist/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anta&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>

<div class="d-flex justify-content-between align-items-center">
    <h1 class="h1">Clientes</h1>
@if (RegistrarClientes)
{
    <p>
        <a class="btn btn-primary" asp-action="Create" style="margin-right: 20px;">Crear Cliente</a>
    </p>
}
</div>

<div class="table-container">

    <table id="prueba" class="table">
        <thead>
            <tr>
                <th>
                    N° Documento
                </th>
                <th>
                    Nombre y Apellido
                </th>
               @*  <th>
                    Dirección
                </th> *@
                <th>
                    Teléfono
                </th>
                @* <th>
                Correo
                </th> *@
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DocumentoCliente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreCliente)
                    </td>
                    @* <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td> *@
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    @*  <td>
                @Html.DisplayFor(modelItem => item.Correo)
                </td> *@
                    <td>
                        @if (EditarClientes)
                        {
                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.DocumentoCliente">Editar</a>
                        }

                        <a class="btn btn-secondary btn-sm detalle-btn" data-id="@item.DocumentoCliente">
                            <i class="fi fi-rr-search"></i>
                            Detalle
                        </a>
                        @*                         <a class="btn btn-success" asp-action="Details" asp-route-id="@item.DocumentoCliente">Detalle</a>
                    *@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="detalleModal" tabindex="-1" role="dialog" aria-labelledby="detalleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detalleModalLabel">Detalles del cliente</h5>
            </div>
            <div class="modal-body">
                <!-- Aquí puedes mostrar la información detallada de la categoría -->
                <div id="detalleContent"></div>
            </div>
            <div class="modal-footer mt-auto">
                <button type="button" class="btn btn-secondary" id="closeModalBtn" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
}

@section Scripts {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function () {
            $('#prueba').DataTable({
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                "lengthMenu": [4, 6, 10, 15],
                "pageLength": 10, // Número predeterminado de elementos por página
                "search": {
                    "search": "",
                    "searchPlaceholder": "Buscar...",
                },
                "dom": '<"d-flex justify-content-between align-items-center"lf>t<"d-flex justify-content-between align-items-center"ip>',
                "initComplete": function (settings, json) {
                    $('.dataTables_filter input[type="search"]').css({ 'border-radius': '5px', 'padding-left': '10px' });
                }
            });
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const detalleButtons = document.querySelectorAll('.detalle-btn');

            detalleButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    const clienteId = button.getAttribute('data-id');

                    // Realizar una solicitud AJAX para obtener los detalles del cliente
                    $.ajax({
                        url: '@Url.Action("Details", "Clientes")/' + clienteId,
                        type: 'GET',
                        success: function (data) {
                            // Mostrar los detalles en el modal
                            const detalleContent = `
                                                        <p><strong>Tipo De Documento:</strong> ${data.tipoDocu}</p>
                                                        <p><strong>Documento:</strong> ${data.documentoCliente}</p>
                                                        <p><strong>Nombre:</strong> ${data.nombreCliente}</p>
                                                        <p><strong>Dirección:</strong> ${data.direccion}</p>
                                                        <p><strong>Teléfono:</strong> ${data.telefono}</p>
                                                        <p><strong>Correo:</strong> ${data.correo}</p>
                                                    `;
                            document.getElementById('detalleContent').innerHTML = detalleContent;

                            // Mostrar el modal
                            $('#detalleModal').modal('show');
                        },
                        error: function () {
                            // Manejar errores si la solicitud AJAX falla
                            console.error('Error al obtener los detalles del cliente.');
                        }
                    });
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            // Cierra el modal al hacer clic en el botón fuera del modal
            $('#closeModalBtn').on('click', function () {
                $('#detalleModal').modal('hide');
            });
        });
    </script>
}





@* @model IEnumerable<EntreEspeciesNuevo.Models.Cliente>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-image: url('/images/fondo.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .table-container {
        margin: 20px;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente */
        border: 2px solid #000000;
        border-radius: 10px;
    }

        /* Estilo específico para los botones de la tabla */
        .table-container a.btn {
            margin-right: 5px;
        }
</style>
@{
    var RegistrarClientes = ViewBag.RegistrarClientes;
    var EditarClientes = ViewBag.EditarClientes;
    var CambioEstadoClientes = ViewBag.CambioEstadoClientes;
    <h1>Index</h1>
}
    @if (RegistrarClientes)
    {
<p>
    <a class="btn btn-primary" asp-action="Create">AGREGAR CLIENTES</a>
</p>
    }
<div class="table-container">

    @* Barra de busqueda
    <div class="form-group">
        <label for="searchTerm">Buscar:</label>
        <input type="text" id="searchTerm" class="form-control" />
        <button id="btnSearch" class="btn btn-primary">Buscar</button>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        $(document).ready(function () {
            // Manejar clic en el botón de búsqueda
            $("#btnSearch").click(function () {
                var searchTerm = $("#searchTerm").val().toLowerCase();

                // Ocultar todos los elementos de la tabla
                $("table tbody tr").hide();

                // Mostrar solo las filas que coincidan con el término de búsqueda
                $("table tbody tr").each(function () {
                    var rowText = $(this).text().toLowerCase();
                    if (rowText.includes(searchTerm)) {
                        $(this).show();
                    }
                });
            });
        });
    </script>

    <table class="table">
        <thead>
            <tr>
                <th>
                    N° Documento
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Dirección
                </th>
                <th>
                    Teléfono
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Correo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DocumentoCliente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreCliente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Correo)
                    </td>
                    <td>
                    @if (EditarClientes)
                    {
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.DocumentoCliente">Editar</a>
                    }
                    @if (CambioEstadoClientes)
                    {
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.DocumentoCliente">Cambio de Estado</a>
                    }
                        <a class="btn btn-success" asp-action="Details" asp-route-id="@item.DocumentoCliente">Detalle</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
 *@